/* using google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    
}
/* starts the header part */
.my_name{
    margin: 90px 0px 0px 90px;
}
.nav-details{
    width:800px ;
    height: 300px;
    margin-top: 50px;
    margin-left: 90px;
}

.nav-details h1{
    font-size: 70px;
}
.nav-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #E02C6D;
    border-radius: 50px;

}
.nav-button .fa-solid{
    margin-left: 10px;
}
.my-nav{
    width: 1500px;
    display: flex;
    justify-content: space-between;
}
.nav-img{
    margin-top: 60px;
}
/* End of the header part */

/* start the main section */
main{
    display: flex;
    justify-content: center;
}
.all-collection{
    width: 80%;
    height: 1880px;
    margin-top: 100px;

}
.popular-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 60px;
}
.collection{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   width: 400px;
   height: 520px;
   display:grid;
}
.collection img{
    width: 390px;
    margin-left: 5px;

}
.description{
    margin-top: 0px;
}
.img-details{
    margin-left: 5px;
}
.type-name{
    text-align: center;
    padding:30px;
}
.star-icon{
    display: flex;
    align-items: center;
   
    
}
.fa-star{
    margin: 0px;
}
.star-icon p{
    padding-left: 10px;
}
.img-details h3{
    margin-bottom: 3px;
}
.img-details h4{
    margin: 0px;
}
.see-more{
    display: flex;
    color: #E02C6D;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
}

/* end of the main section */

/* start the footer section */
footer{
    background-color: black;
    height: 300px;
}
.my-footer{
    text-align: center;
    
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 30px;
    padding: 0px;
}
.fa-copyright,.right-reserved{
    color: white;
}
.my-footer h2{
    color: white;
    padding-top: 50px;
}
.copyright p{
    color: white;
}
.footer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-brands{
    color: white;
    margin-left: 10px;
}
/* End of the footer section */

/* start the responsiveness for mobile phone  */
@media (max-width:668px) {
    .my_name{
        font-size: 25px;
      
    }
    .my-nav{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .nav-details{
        width: 300px;
        height: 700px;
        margin-left: 30px;
    }
    .nav-details h1{
        font-size: 50px;  
    }
    .nav-img img{
        width: 370px;
       
    }
    .popular-collection{
        display: grid;
        grid-template-columns: repeat(1,1fr);
      
    }
    .all-collection{
        height: 5400px;
    }
    .collection{
        width: 340px;
    }
    .collection img{
        width: 330px;
        margin-left: 5px;
    }
    .my-footer{
        height: 400px;
    }
}

/* End of the responsiveness for mobile phone */


/* start the responsiveness for tab */
@media (min-width:669px) and (max-width:992px) {
    .my_name{
        font-size: 30px; 
        padding-left: 160px;
    }
    .my-nav{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .nav-details{
        width: 700px;
        height: 500px;
        margin-left: 30px;
    }
    .nav-details h1{
        font-size: 60px;  
    }
    .nav-img img{
        width: 700px;
       
    }
    .popular-collection{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
      
    }
    .all-collection{
        height: 3100px;
    }
    .collection{
        width: 340px;
        margin: 10px;
    }
    .collection img{
        width: 330px;
    }
    .my-footer{
        height: 300px;
    }
}
/* End of the resonsiveness for tab */